.chatsearchbar {
  // background-color: #2c2f33;
  display: flex;
  align-items: center;
  width: 58vw;
  border-radius: 5px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  input {
    width: 45vw;
    // color: white;
    border: none;
    // background-color: #2c2f33;
    padding: 10px 0;
    margin-left: 15px;
    outline: none;
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: left;
  }
  :-ms-input-placeholder {
    margin-right: -10px;
    // color: brown;
  }
}
