.message {
  display: flex;
  align-items: center;
  padding: 17px 20px;
  color: white;
  background-color: #35383d;
}

.message__info {
  margin-left: 20px;
  margin-top: 5px;
}

.message__info > h4 {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-family: 'Segoe UI';
}

.message__timestamp {
  // color: rgba(128, 128, 128, 0.452);
  color: antiquewhite;
  opacity: 0.452;
  margin-left: 15px;
  font-size: small;
}

.message__info > img {
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
}

.content {
  font-size: 1.1rem;
  opacity: 0.8;
  font-family: 'Quicksand', serif;
  margin-top: -10px;
}
