#menu {
  // color: blue;
  font-size: 1.2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 19vw;
  // marginTop: '52px',
  //   background-color: rgb(163, 94, 94);
  // width: 20vw !important;
  // color: blue !important;
}

.menu-item {
  // color: blue;
  // margin: 25px 0;
  margin-left: 30px;
  opacity: 0.8;
  font-style: italic;
  margin-bottom: 20px;
  // border-bottom: 1px solid black;
  transition: all 0.3s ease-in-out;
  &:hover {
    // background-color: rgb(163, 94, 94);
    padding: 10px 0;
    padding-left: 20px;
    // width: 60%;
    cursor: pointer;
    // transition: all 0.3s linear;
    // margin-left: 40px    ;
  }
}

.menu-label {
  // color: red;
  margin-left: 20px;
}

.menu-item-label {
  margin-left: 30px;
  margin-bottom: 20px;
  opacity: 0.8;
  font-style: italic;
  transition: all 0.3s ease-in-out;
  &:hover {
    // background-color: rgb(163, 94, 94);
    padding: 10px 0;
    padding-left: 20px;
    // width: 60%;
    cursor: pointer;
    // transition: all 0.3s linear;
    // margin-left: 40px    ;
  }
}

.active__icon {
  position: sticky;
  left: 180px;
}

.side-toggle {
  visibility: hidden !important;
}
.main-sidepanel {
  visibility: visible;
}

@media only screen and (max-width: 700px) {
  .side-toggle {
    visibility: visible !important;
    color: rgb(184, 184, 184) !important;
    font-size: 30px !important;
    border-radius: 20px;
    position: fixed !important;
    z-index: 1 !important;
    width: auto;
    height: auto;
  }

  .side-toggle :hover {
    visibility: visible !important;
    color: white !important;
    background-color: rgb(146, 146, 146) !important;
    border-radius: 30px;
    transition: 0.3s;
    font-size: 30px !important;
    // overflow-y: scroll;
  }
  .main-sidepanel {
    visibility: hidden !important;
  }
  #menu {
    width: 36vw !important;
  }
}
@media only screen and (max-width: 575px) {
  #menu {
    width: 50vw !important;
  }
}
