.metapanel {
  width: 18vw;
  margin-left: -1.8rem;
  margin-top: 1.5rem;
  height: 95vh;
  overflow: hidden;
}

.metalist {
  display: flex;
  align-items: center;
  justify-content: center;
  // text-align: center;
}

.metapanel__content {
  margin-left: 40px;
  padding-top: 50px;
  // text-align: center;
}

.metalist__content {
  margin-top: auto;

}

.meta__createdBy {
  // display: flex;
  // align-items: flex-start;
  // text-align: center;
  // justify-content: space-evenly;
  // flex-direction: column;
  // margin-top: 10px;
  margin-left: auto;
  img {
    border-radius: 50%;
    // width: 2rem;
    margin-top: -1rem;
    margin-left: 1rem;
  }
  p {
    // text-align: center;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }
}

.img {
  width: 4rem;
}
